In [8]:
import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Documents\Data Analysis\Food Prices\Raw data\cleaned_food_prices.csv")
df.head()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,...,priceflag,pricetype,currency,price,usdprice,unit_clean,conversion_factor,price_per_kg,month,year
0,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Maize,51,...,actual,Wholesale,NGN,175.92,1.54,KG,1.0,175.92,1,2002
1,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Millet,73,...,actual,Wholesale,NGN,150.18,1.31,KG,1.0,150.18,1,2002
2,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Rice (imported),64,...,actual,Wholesale,NGN,358.70,3.14,KG,1.0,358.70,1,2002
3,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Sorghum,65,...,actual,Wholesale,NGN,155.61,1.36,KG,1.0,155.61,1,2002
4,1/15/2002,Sokoto,Gada,Illela (CBM),1037,13.64,5.28,cereals and tubers,Maize,51,...,actual,Wholesale,NGN,153.35,1.34,KG,1.0,153.35,1,2002

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Documents\Data Analysis\Food Prices\Raw data\cleaned_food_prices.csv")
df.head()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,...,priceflag,pricetype,currency,price,usdprice,unit_clean,conversion_factor,price_per_kg,month,year
0,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Maize,51,...,actual,Wholesale,NGN,175.92,1.54,KG,1.0,175.92,1,2002
1,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Millet,73,...,actual,Wholesale,NGN,150.18,1.31,KG,1.0,150.18,1,2002
2,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Rice (imported),64,...,actual,Wholesale,NGN,358.70,3.14,KG,1.0,358.70,1,2002
3,1/15/2002,Katsina,Jibia,Jibia (CBM),1038,13.08,7.24,cereals and tubers,Sorghum,65,...,actual,Wholesale,NGN,155.61,1.36,KG,1.0,155.61,1,2002
4,1/15/2002,Sokoto,Gada,Illela (CBM),1037,13.64,5.28,cereals and tubers,Maize,51,...,actual,Wholesale,NGN,153.35,1.34,KG,1.0,153.35,1,2002

In [12]:
print(df.shape)          # rows, columns
df.head(5)               # first 5 rows
df.sample(5, random_state=1)  # random 5 rows
df.info()                # data types + missing values

(60565, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60565 entries, 0 to 60564
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               60565 non-null  object
 1   admin1             60565 non-null  object
 2   admin2             60565 non-null  object
 3   market             60565 non-null  object
 4   market_id          60565 non-null  int64
 5   latitude           60565 non-null  float64
 6   longitude          60565 non-null  float64
 7   category           60565 non-null  object
 8   commodity          60565 non-null  object
 9   commodity_id       60565 non-null  int64
 10  unit               60565 non-null  object
 11  priceflag          60565 non-null  object
 12  pricetype          60565 non-null  object
 13  currency           60565 non-null  object
 14  price              60565 non-null  float64
 15  usdprice           60565 non-null  float64
 16  unit_clean         60565 non-null  object
 17  conversion_factor  56048 non-null  float64
 18  price_per_kg       56048 non-null  float64
 19  month              60565 non-null  int64
 20  year               60565 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 9.7+ MB

In [13]:
#standardize column names

df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(" ", "_"))
df.columns

Index(['date', 'admin1', 'admin2', 'market', 'market_id', 'latitude',
       'longitude', 'category', 'commodity', 'commodity_id', 'unit',
       'priceflag', 'pricetype', 'currency', 'price', 'usdprice', 'unit_clean',
       'conversion_factor', 'price_per_kg', 'month', 'year'],
      dtype='object')

In [14]:
#Fix date + create time columns
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(" ", "_"))
df.columns

Index(['date', 'admin1', 'admin2', 'market', 'market_id', 'latitude',
       'longitude', 'category', 'commodity', 'commodity_id', 'unit',
       'priceflag', 'pricetype', 'currency', 'price', 'usdprice', 'unit_clean',
       'conversion_factor', 'price_per_kg', 'month', 'year'],
      dtype='object')

In [15]:
#check if date failed
df["date"].isna().mean()

np.float64(0.0)

In [16]:
df[["currency"]].value_counts().head(10)
df[["pricetype","priceflag"]].value_counts().head(10)
df[["price"]].describe()

               price
count   60565.000000
mean     5129.834547
std     10501.506799
min         1.000000
25%       212.000000
50%       500.000000
75%      3945.000000
max    180000.000000

In [17]:
df["unit"].astype(str).value_counts().head(20)

unit
100 KG    12106
KG        11968
1.3 KG     4327
L          3818
2.5 KG     3644
1.4 KG     3164
1.2 KG     2822
400 G      2109
0.5 KG     1980
750 ML     1833
2.1 KG     1728
2.6 KG     1691
Unit       1272
50 KG      1236
30 pcs     1009
300 G       954
20 G        948
250 G       926
500 G       726
3.1 KG      600
Name: count, dtype: int64

In [19]:
unit_raw = df["unit"].astype(str).str.upper().str.strip()

# normalize multiple spaces
unit_raw = unit_raw.str.replace(r"\s+", " ", regex=True)

# extract leading number if it exists (e.g., 100 in "100 KG")
qty = unit_raw.str.extract(r"^(\d*\.?\d+)\s*", expand=False)

df["unit_qty"] = pd.to_numeric(qty, errors="coerce").fillna(1.0)

# remove the number part to get the unit text
df["unit_name"] = unit_raw.str.replace(r"^\d*\.?\d+\s*", "", regex=True).str.strip()

df[["unit","unit_qty","unit_name"]].head(10)

  unit  unit_qty unit_name
0   KG       1.0        KG
1   KG       1.0        KG
2   KG       1.0        KG
3   KG       1.0        KG
4   KG       1.0        KG
5   KG       1.0        KG
6   KG       1.0        KG
7   KG       1.0        KG
8   KG       1.0        KG
9   KG       1.0        KG

In [20]:
df["unit_name"].value_counts().head(20)

unit_name
KG        46585
G          5663
L          3859
ML         1833
UNIT       1272
PCS        1009
TUBERS      344
Name: count, dtype: int64

In [21]:
def to_kg(qty, unit_name):
    if unit_name in ["KG", "KGS"]:
        return qty
    if unit_name in ["G", "GRAM", "GRAMS"]:
        return qty / 1000
    return np.nan  # not a weight unit

df["qty_in_kg"] = df.apply(lambda r: to_kg(r["unit_qty"], r["unit_name"]), axis=1)

# price per kg (only where qty_in_kg is known)
df["price_per_kg"] = np.where(df["qty_in_kg"].notna(), df["price"] / df["qty_in_kg"], np.nan)

df[["unit","unit_qty","unit_name","qty_in_kg","price","price_per_kg"]].head(10)

  unit  unit_qty unit_name  qty_in_kg   price  price_per_kg
0   KG       1.0        KG        1.0  175.92        175.92
1   KG       1.0        KG        1.0  150.18        150.18
2   KG       1.0        KG        1.0  358.70        358.70
3   KG       1.0        KG        1.0  155.61        155.61
4   KG       1.0        KG        1.0  153.35        153.35
5   KG       1.0        KG        1.0  146.95        146.95
6   KG       1.0        KG        1.0  337.59        337.59
7   KG       1.0        KG        1.0  141.50        141.50
8   KG       1.0        KG        1.0  169.76        169.76
9   KG       1.0        KG        1.0  381.97        381.97

In [22]:
df["price_per_kg"].notna().mean()

np.float64(0.8626764633038884)

In [23]:
def to_liters(qty, unit_name):
    if unit_name in ["L", "LITRE", "LITER", "LITRES", "LITERS"]:
        return qty
    if unit_name in ["ML"]:
        return qty / 1000
    return np.nan

df["qty_in_l"] = df.apply(lambda r: to_liters(r["unit_qty"], r["unit_name"]), axis=1)
df["price_per_l"] = np.where(df["qty_in_l"].notna(), df["price"] / df["qty_in_l"], np.nan)

In [24]:
def to_liters(qty, unit_name):
    if unit_name in ["L", "LITRE", "LITER", "LITRES", "LITERS"]:
        return qty
    if unit_name in ["ML"]:
        return qty / 1000
    return np.nan

df["qty_in_l"] = df.apply(lambda r: to_liters(r["unit_qty"], r["unit_name"]), axis=1)
df["price_per_l"] = np.where(df["qty_in_l"].notna(), df["price"] / df["qty_in_l"], np.nan)

In [25]:
df["unit"].astype(str).value_counts().head(20)

unit
100 KG    12106
KG        11968
1.3 KG     4327
L          3818
2.5 KG     3644
1.4 KG     3164
1.2 KG     2822
400 G      2109
0.5 KG     1980
750 ML     1833
2.1 KG     1728
2.6 KG     1691
Unit       1272
50 KG      1236
30 pcs     1009
300 G       954
20 G        948
250 G       926
500 G       726
3.1 KG      600
Name: count, dtype: int64

In [26]:
df[["unit_qty", "unit_name", "price"]].head()

   unit_qty unit_name   price
0       1.0        KG  175.92
1       1.0        KG  150.18
2       1.0        KG  358.70
3       1.0        KG  155.61
4       1.0        KG  153.35

In [27]:
df["unit_name"] = df["unit_name"].astype(str).str.upper().str.strip()

df["qty_in_l"] = np.nan

# L units
mask_l = df["unit_name"].isin(["L", "LITRE", "LITER", "LITRES", "LITERS"])
df.loc[mask_l, "qty_in_l"] = df.loc[mask_l, "unit_qty"]

# ML units
mask_ml = df["unit_name"].isin(["ML"])
df.loc[mask_ml, "qty_in_l"] = df.loc[mask_ml, "unit_qty"] / 1000

# price per liter
df["price_per_l"] = np.where(df["qty_in_l"].notna(), df["price"] / df["qty_in_l"], np.nan)

df[["unit_qty","unit_name","qty_in_l","price","price_per_l"]].head(15)

    unit_qty unit_name  qty_in_l   price  price_per_l
0        1.0        KG       NaN  175.92          NaN
1        1.0        KG       NaN  150.18          NaN
2        1.0        KG       NaN  358.70          NaN
3        1.0        KG       NaN  155.61          NaN
4        1.0        KG       NaN  153.35          NaN
5        1.0        KG       NaN  146.95          NaN
6        1.0        KG       NaN  337.59          NaN
7        1.0        KG       NaN  141.50          NaN
8        1.0        KG       NaN  169.76          NaN
9        1.0        KG       NaN  381.97          NaN
10       1.0        KG       NaN  201.59          NaN
11       1.0        KG       NaN  181.94          NaN
12       1.0        KG       NaN  175.00          NaN
13       1.0        KG       NaN  361.11          NaN
14       1.0        KG       NaN  172.22          NaN

In [28]:
df["unit_name"].value_counts().head(30)

unit_name
KG        46585
G          5663
L          3859
ML         1833
UNIT       1272
PCS        1009
TUBERS      344
Name: count, dtype: int64

In [29]:
df[df["qty_in_l"].notna()][["unit", "unit_qty", "unit_name", "qty_in_l", "price", "price_per_l"]].head(20)

     unit  unit_qty unit_name  qty_in_l    price  price_per_l
1988    L       1.0         L       1.0   155.00       155.00
1989    L       1.0         L       1.0    97.00        97.00
2026    L       1.0         L       1.0   160.00       160.00
2027    L       1.0         L       1.0    97.00        97.00
2028    L       1.0         L       1.0  4000.00      4000.00
2040    L       1.0         L       1.0   160.00       160.00
2041    L       1.0         L       1.0   108.50       108.50
2055    L       1.0         L       1.0   155.00       155.00
2056    L       1.0         L       1.0    97.00        97.00
2064    L       1.0         L       1.0   110.00       110.00
2065    L       1.0         L       1.0   266.66       266.66
2081    L       1.0         L       1.0   165.00       165.00
2091    L       1.0         L       1.0   165.00       165.00
2092    L       1.0         L       1.0    97.00        97.00
2093    L       1.0         L       1.0   196.00       196.00
2106    L       1.0         L       1.0   160.00       160.00
2107    L       1.0         L       1.0   120.00       120.00
2118    L       1.0         L       1.0    97.00        97.00
2119    L       1.0         L       1.0  1350.00      1350.00
2139    L       1.0         L       1.0    97.00        97.00

In [30]:
import numpy as np

# Clean unit_name
df["unit_name"] = df["unit_name"].astype(str).str.upper().str.strip()

# --------- WEIGHT: convert to KG ----------
df["qty_in_kg"] = np.nan

mask_kg = df["unit_name"].isin(["KG", "KGS"])
df.loc[mask_kg, "qty_in_kg"] = df.loc[mask_kg, "unit_qty"]

mask_g = df["unit_name"].isin(["G", "GRAM", "GRAMS"])
df.loc[mask_g, "qty_in_kg"] = df.loc[mask_g, "unit_qty"] / 1000

df["price_per_kg"] = np.where(df["qty_in_kg"].notna(), df["price"] / df["qty_in_kg"], np.nan)


# --------- VOLUME: convert to L ----------
df["qty_in_l"] = np.nan

mask_l = df["unit_name"].isin(["L", "LITRE", "LITER", "LITRES", "LITERS"])
df.loc[mask_l, "qty_in_l"] = df.loc[mask_l, "unit_qty"]

mask_ml = df["unit_name"].isin(["ML"])
df.loc[mask_ml, "qty_in_l"] = df.loc[mask_ml, "unit_qty"] / 1000

df["price_per_l"] = np.where(df["qty_in_l"].notna(), df["price"] / df["qty_in_l"], np.nan)

# Preview result
df[["unit", "unit_qty", "unit_name", "qty_in_kg", "price_per_kg", "qty_in_l", "price_per_l"]].head(20)

   unit  unit_qty unit_name  qty_in_kg  price_per_kg  qty_in_l  price_per_l
0    KG       1.0        KG        1.0        175.92       NaN          NaN
1    KG       1.0        KG        1.0        150.18       NaN          NaN
2    KG       1.0        KG        1.0        358.70       NaN          NaN
3    KG       1.0        KG        1.0        155.61       NaN          NaN
4    KG       1.0        KG        1.0        153.35       NaN          NaN
5    KG       1.0        KG        1.0        146.95       NaN          NaN
6    KG       1.0        KG        1.0        337.59       NaN          NaN
7    KG       1.0        KG        1.0        141.50       NaN          NaN
8    KG       1.0        KG        1.0        169.76       NaN          NaN
9    KG       1.0        KG        1.0        381.97       NaN          NaN
10   KG       1.0        KG        1.0        201.59       NaN          NaN
11   KG       1.0        KG        1.0        181.94       NaN          NaN
12   KG       1.0        KG        1.0        175.00       NaN          NaN
13   KG       1.0        KG        1.0        361.11       NaN          NaN
14   KG       1.0        KG        1.0        172.22       NaN          NaN
15   KG       1.0        KG        1.0        233.33       NaN          NaN
16   KG       1.0        KG        1.0        171.25       NaN          NaN
17   KG       1.0        KG        1.0        182.36       NaN          NaN
18   KG       1.0        KG        1.0        345.36       NaN          NaN
19   KG       1.0        KG        1.0        190.22       NaN          NaN

In [22]:
df[df["qty_in_kg"].notna()][["unit","unit_qty","unit_name","qty_in_kg","price","price_per_kg"]].head(20)

   unit  unit_qty unit_name  qty_in_kg   price  price_per_kg
0    KG       1.0        KG        1.0  175.92        175.92
1    KG       1.0        KG        1.0  150.18        150.18
2    KG       1.0        KG        1.0  358.70        358.70
3    KG       1.0        KG        1.0  155.61        155.61
4    KG       1.0        KG        1.0  153.35        153.35
5    KG       1.0        KG        1.0  146.95        146.95
6    KG       1.0        KG        1.0  337.59        337.59
7    KG       1.0        KG        1.0  141.50        141.50
8    KG       1.0        KG        1.0  169.76        169.76
9    KG       1.0        KG        1.0  381.97        381.97
10   KG       1.0        KG        1.0  201.59        201.59
11   KG       1.0        KG        1.0  181.94        181.94
12   KG       1.0        KG        1.0  175.00        175.00
13   KG       1.0        KG        1.0  361.11        361.11
14   KG       1.0        KG        1.0  172.22        172.22
15   KG       1.0        KG        1.0  233.33        233.33
16   KG       1.0        KG        1.0  171.25        171.25
17   KG       1.0        KG        1.0  182.36        182.36
18   KG       1.0        KG        1.0  345.36        345.36
19   KG       1.0        KG        1.0  190.22        190.22

In [37]:
df["unit_name"].value_counts().head(30)

unit_name
KG        46585
G          5663
L          3859
ML         1833
UNIT       1272
PCS        1009
TUBERS      344
Name: count, dtype: int64

In [32]:
# See grams rows and their converted kg
df[df["unit_name"].isin(["G","GRAM","GRAMS"])][["unit","unit_qty","unit_name","qty_in_kg","price","price_per_kg"]].head(20)

       unit  unit_qty unit_name  qty_in_kg  price  price_per_kg
6440   20 G      20.0         G       0.02   43.3   2165.000000
6451   20 G      20.0         G       0.02   40.0   2000.000000
6463   20 G      20.0         G       0.02   46.7   2335.000000
6483   20 G      20.0         G       0.02   20.0   1000.000000
6531   20 G      20.0         G       0.02   30.0   1500.000000
6719   20 G      20.0         G       0.02   26.7   1335.000000
6734   20 G      20.0         G       0.02   20.0   1000.000000
6756   20 G      20.0         G       0.02   23.3   1165.000000
6797   20 G      20.0         G       0.02   27.5   1375.000000
6808   20 G      20.0         G       0.02   40.0   2000.000000
7014   20 G      20.0         G       0.02   30.0   1500.000000
7019  400 G     400.0         G       0.40  133.3    333.250000
7020  300 G     300.0         G       0.30   30.0    100.000000
7030  400 G     400.0         G       0.40  100.0    250.000000
7040   20 G      20.0         G       0.02   25.0   1250.000000
7044  300 G     300.0         G       0.30   20.0     66.666667
7052   20 G      20.0         G       0.02   30.0   1500.000000
7057  300 G     300.0         G       0.30   20.0     66.666667
7069  400 G     400.0         G       0.40  106.7    266.750000
7070  300 G     300.0         G       0.30   36.7    122.333333

In [33]:
# See ml rows and their converted liters
df[df["unit_name"].isin(["ML"])][["unit","unit_qty","unit_name","qty_in_l","price","price_per_l"]].head(20)

        unit  unit_qty unit_name  qty_in_l  price  price_per_l
6441  750 ML     750.0        ML      0.75  300.0   400.000000
6442  750 ML     750.0        ML      0.75  350.0   466.666667
6452  750 ML     750.0        ML      0.75  333.3   444.400000
6464  750 ML     750.0        ML      0.75  316.7   422.266667
6484  750 ML     750.0        ML      0.75  250.0   333.333333
6485  750 ML     750.0        ML      0.75  300.0   400.000000
6524  750 ML     750.0        ML      0.75  220.0   293.333333
6532  750 ML     750.0        ML      0.75  250.0   333.333333
6720  750 ML     750.0        ML      0.75  270.0   360.000000
6721  750 ML     750.0        ML      0.75  300.0   400.000000
6735  750 ML     750.0        ML      0.75  300.0   400.000000
6745  750 ML     750.0        ML      0.75  290.0   386.666667
6746  750 ML     750.0        ML      0.75  275.0   366.666667
6757  750 ML     750.0        ML      0.75  286.7   382.266667
6758  750 ML     750.0        ML      0.75  306.7   408.933333
6766  750 ML     750.0        ML      0.75  250.0   333.333333
6775  750 ML     750.0        ML      0.75  280.0   373.333333
6798  750 ML     750.0        ML      0.75  275.0   366.666667
6799  750 ML     750.0        ML      0.75  275.0   366.666667
6809  750 ML     750.0        ML      0.75  263.3   351.066667

In [34]:
df["unit_standard"] = df["unit_name"]  # start as original

# weight
df.loc[df["unit_name"].isin(["G","GRAM","GRAMS","KG","KGS"]), "unit_standard"] = "KG"

# volume
df.loc[df["unit_name"].isin(["ML","L","LITRE","LITER","LITRES","LITERS"]), "unit_standard"] = "L"

df[["unit_name","unit_standard"]].value_counts().head(20)

unit_name  unit_standard
KG         KG               46585
G          KG                5663
L          L                 3859
ML         L                 1833
UNIT       UNIT              1272
PCS        PCS               1009
TUBERS     TUBERS             344
Name: count, dtype: int64

In [35]:
df["qty_standard"] = np.nan

# for KG group
mask_weight = df["unit_standard"].eq("KG")
df.loc[mask_weight, "qty_standard"] = df.loc[mask_weight, "qty_in_kg"]

# for L group
mask_vol = df["unit_standard"].eq("L")
df.loc[mask_vol, "qty_standard"] = df.loc[mask_vol, "qty_in_l"]

In [36]:
df["price_per_standard"] = np.where(
    df["qty_standard"].notna(),
    df["price"] / df["qty_standard"],
    np.nan
)

In [29]:
df[["unit","unit_qty","unit_name","unit_standard","qty_standard","price","price_per_standard"]].head(30)

,unit,unit_qty,unit_name,unit_standard,qty_standard,price,price_per_standard
0,KG,1.0,KG,KG,1.0,175.92,175.92
1,KG,1.0,KG,KG,1.0,150.18,150.18
2,KG,1.0,KG,KG,1.0,358.70,358.70
3,KG,1.0,KG,KG,1.0,155.61,155.61
4,KG,1.0,KG,KG,1.0,153.35,153.35
5,KG,1.0,KG,KG,1.0,146.95,146.95
6,KG,1.0,KG,KG,1.0,337.59,337.59
7,KG,1.0,KG,KG,1.0,141.50,141.50
8,KG,1.0,KG,KG,1.0,169.76,169.76
9,KG,1.0,KG,KG,1.0,381.97,381.97
10,KG,1.0,KG,KG,1.0,201.59,201.59
11,KG,1.0,KG,KG,1.0,181.94,181.94
12,KG,1.0,KG,KG,1.0,175.00,175.00
13,KG,1.0,KG,KG,1.0,361.11,361.11
14,KG,1.0,KG,KG,1.0,172.22,172.22
15,KG,1.0,KG,KG,1.0,233.33,233.33
16,KG,1.0,KG,KG,1.0,171.25,171.25
17,KG,1.0,KG,KG,1.0,182.36,182.36
18,KG,1.0,KG,KG,1.0,345.36,345.36
19,KG,1.0,KG,KG,1.0,190.22,190.22
20,KG,1.0,KG,KG,1.0,187.50,187.50
21,KG,1.0,KG,KG,1.0,331.52,331.52
22,KG,1.0,KG,KG,1.0,188.37,188.37
23,KG,1.0,KG,KG,1.0,357.34,357.34
24,KG,1.0,KG,KG,1.0,185.59,185.59
25,KG,1.0,KG,KG,1.0,415.52,415.52
26,KG,1.0,KG,KG,1.0,208.67,208.67
27,KG,1.0,KG,KG,1.0,195.12,195.12
28,KG,1.0,KG,KG,1.0,195.12,195.12
29,KG,1.0,KG,KG,1.0,242.53,242.53

In [38]:
df["unit_standard"].value_counts(dropna=False)

unit_standard
KG        52248
L          5692
UNIT       1272
PCS        1009
TUBERS      344
Name: count, dtype: int64

In [39]:
df["unit_name"] = df["unit_name"].astype(str).str.upper().str.strip()

df["unit_group"] = "OTHER"

# WEIGHT group
df.loc[df["unit_name"].isin(["KG", "KGS", "G", "GRAM", "GRAMS"]), "unit_group"] = "WEIGHT"

# VOLUME group
df.loc[df["unit_name"].isin(["L", "LITRE", "LITER", "LITRES", "LITERS", "ML"]), "unit_group"] = "VOLUME"

# COUNT group (your UNIT, PCS, TUBERS idea)
df.loc[df["unit_name"].isin(["UNIT", "UNITS", "PCS", "PC", "PIECE", "PIECES", "TUBER", "TUBERS"]), "unit_group"] = "COUNT"

df["unit_group"].value_counts()

unit_group
WEIGHT    52248
VOLUME     5692
COUNT      2625
Name: count, dtype: int64

In [40]:
df[df["unit_group"]=="WEIGHT"]["price_per_kg"].describe()

count    52248.000000
mean       581.296886
std       1675.212940
min          0.810000
25%        156.250000
50%        250.000000
75%        500.000000
max      95000.000000
Name: price_per_kg, dtype: float64

In [41]:
df[df["unit_group"]=="VOLUME"]["price_per_l"].describe()

count     5692.000000
mean       757.085896
std       1031.780303
min          4.120000
25%        188.000000
50%        486.666667
75%        920.000000
max      19375.000000
Name: price_per_l, dtype: float64

In [42]:
df["price_per_count"] = np.where(
    df["unit_group"].eq("COUNT"),
    df["price"] / df["unit_qty"],
    np.nan
)

df[df["unit_group"]=="COUNT"][["unit","unit_qty","unit_name","price","price_per_count"]].head(20)

      unit  unit_qty unit_name   price  price_per_count
1976  Unit       1.0      UNIT  150.00           150.00
2016  Unit       1.0      UNIT  214.29           214.29
2031  Unit       1.0      UNIT  314.28           314.28
2047  Unit       1.0      UNIT  285.71           285.71
2059  Unit       1.0      UNIT  250.00           250.00
2071  Unit       1.0      UNIT  250.00           250.00
2096  Unit       1.0      UNIT  170.00           170.00
2109  Unit       1.0      UNIT  180.00           180.00
2128  Unit       1.0      UNIT  195.55           195.55
2158  Unit       1.0      UNIT  250.00           250.00
2176  Unit       1.0      UNIT  200.00           200.00
2187  Unit       1.0      UNIT  230.91           230.91
2198  Unit       1.0      UNIT  285.71           285.71
2219  Unit       1.0      UNIT  285.71           285.71
2230  Unit       1.0      UNIT  250.00           250.00
2243  Unit       1.0      UNIT  201.66           201.66
2257  Unit       1.0      UNIT  263.12           263.12
2269  Unit       1.0      UNIT  179.00           179.00
2284  Unit       1.0      UNIT  181.50           181.50
2304  Unit       1.0      UNIT  197.77           197.77

In [35]:
df["unit_name"].value_counts().head(20)

unit_name
KG        46585
G          5663
L          3859
ML         1833
UNIT       1272
PCS        1009
TUBERS      344
Name: count, dtype: int64

In [44]:
df["analysis_price"] = np.nan

# For weight items -> use NGN per KG
df.loc[df["unit_group"].eq("WEIGHT"), "analysis_price"] = df["price_per_kg"]

# For volume items -> use NGN per L
df.loc[df["unit_group"].eq("VOLUME"), "analysis_price"] = df["price_per_l"]

# For count items -> use NGN per item
df.loc[df["unit_group"].eq("COUNT"), "analysis_price"] = df["price_per_count"]

In [45]:

df["analysis_price"].describe()

count    60565.000000
mean       582.519548
std       1590.881929
min          0.810000
25%        156.300000
50%        251.483900
75%        526.668000
max      95000.000000
Name: analysis_price, dtype: float64

In [46]:
df_clean = df.dropna(subset=["analysis_price", "date"])
df_clean = df_clean[df_clean["analysis_price"] > 0]

df_clean.shape

(60565, 32)

In [47]:
df.to_csv("clean_food_prices_for_powerbi.csv", index=False)

In [48]:
import os
os.getcwd()

'C:\\Users\\HP'